@import 'variables';

li {
	position: relative;
	margin: .5rem;
	padding: 0;
	padding-left: 2rem;
	padding-right: .5rem;
	list-style-type: none;
	line-height: 1.5;
	cursor: pointer;

	&::before {
		display: block;
		position: absolute;
		content: '';
		top: .25rem;
		left: .5rem;
		width: .75rem;
		height: .75rem;
		border: .1em solid currentColor;
	}

	&.done {
		color: $color-text-faded;

		&::before {
			height: .4em;
			border-top: none;
			border-right: none;
			border-width: .2em;
			transform: rotate(-45deg);
		}
	}
}

